body{
    background-color: aliceblue;
}
/* The college grids */
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 50px;
}
.college{
    background-color: white;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.collegeimg{
    object-fit:contain;
    margin: 5px;
}
.collegeinfo{
    margin-top: 10px;
    margin-left: 10px;
}
.selected-page{
    background-color: #10151d;
    align-content: center;
    height:70px;
}
.applybutton{
    color: white;
    text-align: center;
    background-color:rgb(32, 43, 59);
    margin:5px;
}